@font-face {
  font-family: Mantinia;
  src: url(resources/font.otf);
}

* {
  font-weight: normal;
}

body {
  margin: 0;
  bottom: 0;
  position: absolute;
  height: 100vh;
}

h1 {
  font-size: 50px;
  line-height: 55px;
}

#sparks {
  width: 100%;
  height: 100%;
  -webkit-filter: blur(2px);
  position: fixed;
  top: 0;
}

.center {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.content {
  width: 100vw;
  height: 100vh;
  position: fixed;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.custom-button {
  display: block;
  margin: 30px auto;
  border-width: 0;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #0075FF;
  color: white;
  font-size: 21px;
  transition: background-color .3s;
}

.custom-button:hover, #editor-button:focus {
  background-color: #005CC8;
}

.custom-button span {
  display: block;
  padding: 12px 24px;
}

.custom-forms {
  color: white;
  background-color: gray;
}

.custom-forms::placeholder {
  color: lightgray;
}

.github {
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.github:hover {
  color: dodgerblue;
}

.hidden-bar {
  position: fixed;
  bottom: 0;
  text-align: center;
  display: none;
}

.hidden-bar-button {
  font-family: Mantinia, serif;
  font-size: 42px;
  border-style: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.hidden-bar-button:hover {
  text-shadow: 0 0 5px rgba(60, 60, 60, 1);
}

.hidden-bar-separator {
  font-family: Mantinia, serif;
  font-size: 35px;
  border-style: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.mainText {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #e6c98e;
  font-family: Mantinia, serif;
  text-align: center;
  opacity: 0;
}

.multiply-bg {
  background-image: url(resources/dirt.jpg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.settings-headline {
  text-align: center;
  font-weight: bold;
  color: white;
}

.settings-label {
  color: white
}

.settings-menu {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: left;
  color: white;
  user-select: none;
}

.settings-menu-items{
  margin-top: 1rem;
}

.toast {
  visibility: visible;
  min-width: 600px;
  margin-left: -300px;
  text-align: center;
  font-size: 42px;
  font-family: Mantinia, serif;
  border-radius: 20px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  opacity: 0;
}

.untilText {
  margin-top: 60px;
  font-size: 55px;
  max-width: 750px;
}
