@font-face {
  font-family: Mantinia;
  src: url(../resources/font.otf);
}

* {
  font-weight: normal;
}

body {
  margin: 0;
  bottom: 0;
  position: absolute;
  height: 100vh;
}

h1 {
  font-size: 50px;
  line-height: 55px;
}

h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#sparks {
  width: 100%;
  height: 100%;
  -webkit-filter: blur(2px);
  position: fixed;
  top: 0;
}

.center {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.content {
  width: 100vw;
  height: 100vh;
  position: fixed;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.github {
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-top: 2rem;
}

.github:hover {
  color: #2196F3;
}

.hidden-bar {
  position: fixed;
  text-align: center;
  display: none;
}

.hidden-bar-button {
  font-family: Mantinia, serif;
  font-size: 42px;
  border-style: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.hidden-bar-button:hover {
  text-shadow: 0 0 5px rgba(60, 60, 60, 1);
}

.hidden-bar-separator {
  font-family: Mantinia, serif;
  font-size: 35px;
  border-style: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.mainText {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #e6c98e;
  font-family: Mantinia, serif;
  text-align: center;
  opacity: 0;
}

.multiply-bg {
  background-image: url(../resources/dirt.jpg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.settings-headline {
  text-align: center;
  font-weight: bold;
  color: white;
}

.settings-label {
  color: white
}

.settings-menu {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: white;
  user-select: none;
}

.settings-menu-items{
  margin-top: 0.3rem;
}

.toast {
  visibility: visible;
  min-width: 600px;
  margin-left: -300px;
  text-align: center;
  font-size: 42px;
  font-family: Mantinia, serif;
  border-radius: 20px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  opacity: 0;
}

.untilText {
  margin-top: 60px;
  font-size: 55px;
  max-width: 750px;
}
